@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: theme("colors.dark-slate-gray");
  color: theme("colors.lavender-blush");
}
